name: React CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Copy build files to Codespace (Deploy)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.CODESPACE_HOST }}
          username: ${{ secrets.CODESPACE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./build/*"
          target: "/var/www/reactapp"
